<!DOCTYPE html>
<html>
<head>
    <title>Order Details</title>
</head>
<body align="center">
    <h1>Order Details</h1>
    {% for order in orders %}
    <div class="order">
        <p><strong>User ID:</strong> {{ order.user_id }}</p>
        <p><strong>Name:</strong> {{ order.name }}</p>
        <p><strong>Email:</strong> {{ order.email }}</p>
        <p><strong>Phone:</strong> {{ order.phone }}</p>
        <p><strong>Address:</strong> {{ order.address or 'N/A' }}</p>
        <h2>Items:</h2>
        <table  border="" align="center">
            <thead>
                <td>Name</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
            </thead>
            <tbody>
                {% for item in order.products %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>Rs.{{ item.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% endfor %}
</body>
</html>
